<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@400;600&family=Prompt:wght@500;600&family=Raleway:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    
  
</head>
<body>
  <div class="tu2">
    <span>มหาวิทยาลัยธรรมศาสตร์</span>
    <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.tu2{
width: 400px;
height: 100px;
opacity: 1;
position: fixed;
top: 5px;
left: 350px;
overflow: hidden;
z-index: 6;
color: #ffffff;
font-family: patua one;
font-weight: regular;
font-size: 31px;

}
  </style>

  </div>
  <div class="line">
    <style>* {
        box-sizing: border-box;
      }
      body {
        font-size: 14px;
      }
      .line {
        width: 307px;
  height: 3px;
  background: rgba(214,123,2,1);
  opacity: 1;
  position: fixed;
  top: 80px;
  left: 350px;
  overflow: hidden;
  z-index: 10;
        
        
        
        
      }
      </style>
</div>
    
    <div class="ImgTop">
        <style>*{
            box-sizing: border-box;
        }
        body{
            font-size: 14px;
        }
.ImgTop{
            
    width: 100%;
    height: 650px;
    background: url("https://tu.ac.th/uploads/news-tu/banner/banner64/vr012.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    z-index: -3;
        }
        </style>
    
    
</div>
    <div class="BG">
        <style>*{
            box-sizing: border-box;
        }
        body{
            font-size: 14px;
        }
.BG{
            
            width: 100%;
          height: 2700px;
          background: linear-gradient(to bottom right, rgba(195,0,47,1), rgba(255,209,63,1));
          opacity: 1;
          position: absolute;
          top: 650px;
          left: 0px;
          z-index: -2;
        }
        
        
        
        </style>
    </div>
<header>
  <div class="tu1">
    <span>THAMMASAT UNIVERSITY</span>
    <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.tu1{
width: 400px;
height: 100px;
opacity: 1;
position: fixed;
top: 42px;
left: 350px;
overflow: hidden;
z-index: 6;
color: #ffffff;
font-family: patua one;
font-weight: regular;
font-size: 26px;

}
  </style>

  </div>
  
    <div class="menubar">
      
    <div class="topbar">
        <style>*{
            box-sizing: border-box;
        }
        body{
            font-size: 14px;
        }
.topbar{
    width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.75);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 200px;
  overflow: hidden;
  z-index: 3;
}
        </style>
    </div>
    <div class="leftbar">
        
            <style>*{
                box-sizing: border-box;
            }
            body{
                font-size: 14px;
            }
    .leftbar{
        width: 200px;
  height: 100px;
  background: rgba(214,123,2,1);
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 2;
    }
    
            </style>
    </div>

</div>
    <div class="Menu">
        <nav>
            <div class="logo">
                <style>*{
                    box-sizing: border-box;
                }
                body{
                    font-size: 14px;
                }
        .logo{
            width: 90px;
      height: 90px;
      background: url("https://upload.wikimedia.org/wikipedia/commons/3/32/Emblem_of_Thammasat_University.svg");
      opacity: 1;
      position: fixed;
      top: 5px;
      left: 228px;
      overflow: hidden;
      z-index: 5;
        }
        
                </style>
            </div>

<ul>
    <li>
        <a href="#" class="btn1">คำร้อง</a>
        <style>*{
            box-sizing: border-box;
        }
        body{
            font-size: 14px;
        }
.btn1{
    width: 100px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: fixed;
  top: 25px;
  left: 1050px;
  overflow: hidden;
  z-index: 4;
  color: #ffffff;
  font-family: Prompt;
  font-weight: semibold;
  font-size: 26px;
  text-decoration: none;
}
        </style>



    </li>
    <li>
        <a href="/tracking" class="btn2">สถานะคำร้อง</a>
        <style>*{
            box-sizing: border-box;
        }
        body{
            font-size: 14px;
        }
.btn2{
    width: 200px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: fixed;
  top: 25px;
  left: 1235px;
  overflow: hidden;
  z-index: 4;
  color: #ffffff;
  font-family: Prompt;
  font-weight: semiblod;
  font-size: 26px;
  text-decoration: none;
  
}
        </style>
    </li>
    <li>
        <a href="#" class="btn3">LogOut</a>
        <style>*{
            box-sizing: border-box;
        }
        body{
            font-size: 14px;
        }
.btn3{
    width: 150px;
  height: 68px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: fixed;
  top: 25px;
  left: 1510px;
  overflow: hidden;
  z-index: 4;
  color: #ffffff;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 24px;
  text-decoration: none;
}
        </style>
    </li>
</ul>


        </nav>
<div class="Info">
<div class="head1">
    <h1>THAMMASAT <br> 
      UNIVERSITY
    </h1>
    <style>*{
        box-sizing: border-box;
    }
    body{
        font-size: 14px;
    }
.head1{
width: 800px;
height: 500px;
background: rgba(0,0,0,0);
opacity: 1;
position: absolute;
top: 435px;
left: 150px;
overflow: hidden;
z-index: 1;
color: #ffffff;
font-family: raleway;
font-weight: black;
font-size: 58px;

}
    </style>
</div>
    <span class="text1">


        มุ่งเน้นการจัดการศึกษาที่ได้มาตรฐานสากล 
โดยปรับทุกหลักสูตรให้มีเนื้อหาสอดคล้อง
กับความต้องการของประเทศและสอดรับกับ
ความสำคัญที่มากขึ้นของเอเชียและประชาคม
 ASEAN พร้อมกับการปลูกฝั่งจิตวิญญาณ
ธรรมศาสตร์ และทำนุบำรุงสังคม ประชาธิปไตย
 คุณธรรม ศิลปะ วัฒนธรรมให้ประชาชน และ
สังคมผ่านกิจกรรมในหลักสูตร กิจกรรมเสริม
หลักสูตร และกิจกรรมบริการทางวิชาการแก่
สังคม รวมถึงการให้บริการสุขภาพแบบองค์
รวมแก่สังคมอย่างสม่ำเสมอ
    </span>
    <style>* {
        box-sizing: border-box;
      }
      body {
        font-size: 14px;
      }
      .text1 {
       
        width: 700px;
height: 450px;
position: absolute;
top: 900px;
left: 150px;
overflow: hidden;
z-index: 1;
color: #ffffff;
font-family: prompt;
font-weight: black;
font-size: 30px;
        
        
        
        
      }
      </style>
      <span class="text2">


        เข้าหน้าเว็บไซต์เพื่อเลือกแบบฟอร์มคำร้องตามจุดประสงค์ที่ต้องการจะยื่น กรอกข้อมูลต่างๆให้ครบถ้วนและรอรับ
การอนุมัติจากทางมหาวิทยาลัย
    </span>
    <style>* {
        box-sizing: border-box;
      }
      body {
        font-size: 14px;
      }
      .text2 {
       
        width: 590px;
height: 200px;
position: absolute;
top: 1825px;
left: 1000px;
overflow: hidden;
z-index: 2;
color: #000000;
font-family: Prompt;
font-weight: regular;
font-size: 32px;
        
        
        
        
      }
      </style>
</div>



</div>
<div class="IMG1">
    <style>* {
        box-sizing: border-box;
      }
      body {
        font-size: 14px;
      }
      .IMG1 {
        width: 800px;
  height: 500px;
  background: url("https://scontent.fbkk2-6.fna.fbcdn.net/v/t39.30808-6/291190445_8194762127208353_1087002014498044286_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEH96vjMR0h41lZfG54fgWxBIhbxHlBk7AEiFvEeUGTsD9nMlZS-DGsang3oH2gMTgJA1XnlL6mtF1nqMrwA1Jm&_nc_ohc=heRW_1019X4AX-tEIUt&_nc_ht=scontent.fbkk2-6.fna&oh=00_AfBvjaD4hAsZW5mQXfPhhmDBjNq2qMHwahxV_RJFzMjguQ&oe=6362253D");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 850px;
  left: 1000px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: -1;
      }
      </style>

</div>
<div class="IMG2">
    <style>* {
        box-sizing: border-box;
      }
      body {
        font-size: 14px;
      }
      .IMG2 {
        width: 900px;
  height: 450px;
  background: url("https://www.architects110.com/wp-content/uploads/2017/04/KLNRLC_View6.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1700px;
  left: 52px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
      }
      </style>

</div>
<div class="yellow-box">
    <div class="box1">
        <style>* {
            box-sizing: border-box;
          }
          body {
            font-size: 14px;
          }
          .box1 {
            width: 400px;
  height: 650px;
  background: rgba(255,209,63,1);
  opacity: 1;
  position: absolute;
  top: 800px;
  left: 1350px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: -2;
            
            
            
            
          }
          </style>
    </div>
    <div class="box2">
        <style>* {
            box-sizing: border-box;
          }
          body {
            font-size: 14px;
          }
          .box2 {
            width: 350px;
  height: 391px;
  background: rgba(255,209,63,1);
  opacity: 1;
  position: absolute;
  top: 1600px;
  left: 102px;
  box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: -1;
            
            
            
            
          }
          </style>
    </div>
    <div class="box3">
      <style>* {
          box-sizing: border-box;
        }
        body {
          font-size: 14px;
        }
        .box3 {
          background: rgba(217,217,217,1);
  width: 850px;
  height: 350px;
opacity: 1;
position: absolute;
top: 1750px;
left: 850px;
box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
overflow: hidden;
z-index: 1;
          
          
          
          
        }
        </style>
  </div>
  <div class="head2">
    <h1>ABOUT
    </h1>
    <style>*{
        box-sizing: border-box;
    }
    body{
        font-size: 14px;
    }
.head2{
width: 800px;
height: 500px;

opacity: 1;
position: absolute;
top: 1475px;
left: 700px;
overflow: hidden;
z-index: 0;
color: #000000;
font-family: raleway;
font-weight: black;
font-size: 58px;

}
    </style>
</div>
<div class="head3">
  <h1>PENTITION
  </h1>
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.head3{
width: 800px;
height: 500px;

opacity: 1;
position: absolute;
top: 1525px;
left: 1000px;
overflow: hidden;
z-index: 0;
color: #ffffff;
font-family: raleway;
font-weight: black;
font-size: 58px;

}
  </style>
</div>
<div class="head4">
  <h1>ALL
  </h1>
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.head4{
width: 800px;
height: 500px;

opacity: 1;
position: absolute;
top: 2300px;
left: 500px;
overflow: hidden;
z-index: 0;
color: #ffffff;
font-family: raleway;
font-weight: black;
font-size: 58px;

}
  </style>
</div>
<div class="head5">
  <h1>PENTITION
  </h1>
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.head5{
width: 800px;
height: 500px;

opacity: 1;
position: absolute;
top: 2300px;
left: 800px;
overflow: hidden;
z-index: 0;
color: #000000;
font-family: raleway;
font-weight: black;
font-size: 58px;

}
  </style>
</div>
<div class="IMG3">
  <style>* {
      box-sizing: border-box;
    }
    body {
      font-size: 14px;
    }
    .IMG3 {
      width: 400px;
height: 400px;
background: url("https://www.architects110.com/wp-content/uploads/2017/04/KLNRLC_View5.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
opacity: 1;
position: absolute;
top: 2600px;
left: 350px;
box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
overflow: hidden;
    }
    </style>

</div>
<div class="IMG4">
  <style>* {
      box-sizing: border-box;
    }
    body {
      font-size: 14px;
    }
    .IMG4 {
      width: 400px;
height: 400px;
background: url("https://www.architects110.com/wp-content/uploads/2017/04/KLNRLC_View10.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
opacity: 1;
position: absolute;
top: 2600px;
left: 800px;
box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
overflow: hidden;
    }
    </style>

</div>
<div class="IMG5">
  <style>* {
      box-sizing: border-box;
    }
    body {
      font-size: 14px;
    }
    .IMG5 {
      width: 400px;
height: 400px;
background: url("https://www.architects110.com/wp-content/uploads/2017/04/KLNRLC_View3.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
opacity: 1;
position: absolute;
top: 2600px;
left: 1250px;
box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.5);
overflow: hidden;
    }
    </style>

</div>
<div class="bar1">
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.bar1{
width: 400px;
height: 100px;
background: rgba(0,0,0,0.75);
opacity: 1;
position: absolute;
top: 2900px;
left: 350px;
overflow: hidden;
z-index: 5;
}
  </style>
</div>
<div class="bar2">
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.bar2{
width: 400px;
height: 100px;
background: rgba(0,0,0,0.75);
opacity: 1;
position: absolute;
top: 2900px;
left: 800px;
overflow: hidden;
z-index: 5;
}
  </style>
</div>
<div class="bar3">
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.bar3{
width: 400px;
height: 100px;
background: rgba(0,0,0,0.75);
opacity: 1;
position: absolute;
top: 2900px;
left: 1250px;
overflow: hidden;
z-index: 5;
}
  </style>
</div>
<div class="dropw">
  <h3>Drop W
  </h3>
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.dropw{
width: 400px;
height: 100px;

opacity: 1;
position: absolute;
top: 2875px;
left: 460px;
overflow: hidden;
z-index: 6;
color: #ffffff;
font-family: raleway;
font-weight: black;
font-size: 40px;

}
  </style>
</div>
<div class="register">
  <h3>Register
  </h3>
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.register{
width: 400px;
height: 100px;

opacity: 1;
position: absolute;
top: 2875px;
left: 900px;
overflow: hidden;
z-index: 6;
color: #ffffff;
font-family: raleway;
font-weight: black;
font-size: 40px;

}
  </style>
</div>
<div class="resign">
  <h3>Resign
  </h3>
  <style>*{
      box-sizing: border-box;
  }
  body{
      font-size: 14px;
  }
.resign{
width: 400px;
height: 100px;

opacity: 1;
position: absolute;
top: 2875px;
left: 1370px;
overflow: hidden;
z-index: 6;
color: #ffffff;
font-family: raleway;
font-weight: black;
font-size: 40px;

}
  </style>
</div>
</div>

</div>





    </div>
</header>

<style>
    body {
      font-family: "Poppins", sans-serif;
      transition: background-color .5s;
      
    }
    
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 4;
      top: 0;
      left: 0;
      background-color: #070A16;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 20px;
      text-decoration: none;
      font-size: 18px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 36px;
      margin-left: 50px;
    }
    
  
    
    
   

    #main {
      transition: margin-left .5s;
      padding: 16px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    </style>
    </head>
    <body>
    
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#"><h2>คำร้อง</h2></a>
      <a href="/form">เพิ่มถอนรายวิชา</a>
      <a href="/formslow">เพิ่มถอนรายวิชาล่าช้า</a>
      <a href="/drop">Drop W</a>
      <a href="/quit">ลาออก</a>
      <br>
      <a href="/home"><h3>HOME</h3></a>
      <a href="/"><h3>LOGOUT</h3></a>
    </div>
    
    <div id="main">
        
        <span style="font-size:50px;cursor:pointer; position: fixed; top: 15px; z-index: 3; color: #ffffff;" onclick="openNav()">>></span>
        
        

        
      </div>
    
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "200px";
      
      document.getElementById("main").style.marginLeft = "0px";
      document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
      
      document.body.style.backgroundColor = "white";
    }
    </script>
</body>

    <scrip src="main.js"></scrip>
</html>